/* Optionnel : personnalisation du défilement */
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: marianne, sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

/*Ne pas afficher les références du fond de carte*/
.leaflet-control-attribution {
  display: none;
}

/*Mentions légales*/
.mentions_legales {
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #EAC198;
  color: #564949;
  padding: 5px 10px 2px 10px;
  border-radius: 10px 10px 0 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-content p {
  font-size: 0.9rem;
}




/*TITRES*/
h1 {
  font-size: 2rem;
  color: #CC9F72;
  font-weight: bold;
  opacity: 1;
  margin: 0;
  text-align: left;
}

h2 {
  font-size: 1.5rem;
  color: #CC9F72;
  font-weight: bold;
  opacity: 1;
  margin: 10px 10px 5px 0px;
  text-align: left;
}

h3 {
  background-color: #16A8C1;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h4 {
  background-color: #16A8C1;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  display: inline-block;
  margin: 0 auto 10px auto;
  width: 20%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h4:hover {
  background-color: #16a7c1cc;
  box-shadow: none;
}

h5 {
  background-color: #16A8C1;
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h5:hover {
  background-color: #16a7c1cc;
  box-shadow: none;
}

h6 {
  font-size: 1.3rem;
  color: #CC9F72;
  font-weight: bold;
  opacity: 1;
  margin: 0px 10px 0px 0px;
  text-align: left;
}




p{
  color: black;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: left;
}


/*Mise en forme générale*/
.fullscreen {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

.content {
  font-size: 24px;
  color: white;
}

.fixed-bottom {
  position: fixed;
  width: 100%;
}

.p-2 {
  padding: 0.5rem; 
}

/* Donne une hauteur suffisante pour chaque section */
section {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
}



/*Logos*/
.image-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
}

/* Styles pour les images */
.image-logo {
  width: 100px;
  height: auto; /*Pour garder le ratio*/
  border-radius: 10px;
  right: 0;
}

.image-logo2 {
  width: 150px;
  height: auto; /*Pour garder le ratio*/
  margin-top: 10%;
  border-radius: 10px;
}

.logo_partenaires_engages {
  position: absolute;
  z-index: 3;
  top: -125px;
  left: 95%;
  width: 75%;
  transform: translateX(-50%) rotate(10deg); 
}

.logo_partenaires_engages_mobile {
  display: none;
}




/*Page Accueil*/
.fullscreen_accueil {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100vw; /* Largeur totale de l'écran */
  height: 100vh; /* Hauteur totale de l'écran */
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #16A8C1;
  overflow: hidden;
}

.photo_accueil {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background_accueil{
  position: absolute;
  width: 300px;
  height: 120px;
  top: 0;
  right: 0;
  border-radius: 0 0 0 25px;;
  background: white;
  opacity: 1;
}

/* Style pour l'image */
.image_accueil {
  position: relative;
  z-index: 5;
}

.phoques-image {
  position: relative;
  z-index: 5;
  max-width: 95%;
  height: auto;
  margin-top: -70px;
  margin-bottom: 20px;
}

.cadre_intro {
  position: absolute;
  z-index: 5;
  width: 65%;
  height: auto;
  left: 0;
  bottom: 15%;
  background-color: transparent; /* Rendre le fond transparent */
  border-radius: 0 25px 25px 0;
  padding: 10px 20px 10px 20px;
}

.cadre_intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  border-radius: 0 25px 25px 0;
  z-index: -1; /* Placer le fond derrière le contenu */
}




/*MENU*/
.top-banner {
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
  padding: 0rem 0rem;
  background-color: #EAC198;
  z-index: 1000;
  text-align: center; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bg-custom {
  background-color: #EAC198;
}


/* Style pour le bouton burger */
.bg-custom-mobile {
  background-color: #EAC198;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 35px;
  border-radius: 0 0 10px 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
}

.burger-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Icône burger (☰) */
.burger-icon {
  position: relative;
  z-index: 11;
  color: #564949;
}

/* Icône de fermeture (✖) */
.close-icon {
  color: #16A8C1 !important;
}

#croix {
  position: relative;
  z-index: 11;
}

/* Menu burger */
.burger-menu {
  position: absolute;
  top: 45px;
  left: -100vw; /* Caché par défaut */
  width: 70vw;
  /*height: 100vh;*/
  background: #EAC198;
  padding-left: 50px;
  border-radius: 0 25px 25px 0;
  z-index: 10;
  overflow: hidden;
  transition: left 0.3s ease;
}

/* Classe 'open' pour ouvrir le menu */
.burger-menu.open {
  transition: left 0.3s ease;
  left: 0;
}

/* Liste de liens dans le menu burger */
.burger-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.burger-menu li {
  padding: 15px;
}

.burger-menu a {
  text-decoration: none;
  color: #564949;
  font-size: 18px;
}

/* Classe pour ouvrir le menu */
.top-banner ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-banner li {
  padding: 15px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.top-banner a {
  text-decoration: none;
  display: block;
}

.top-banner li {
  padding: 15px 20px;
  text-align: center;
  color: #564949;
}

.top-banner li:hover,
.top-banner a.active li {
  background-color: #CC9F72;
  color: white;
}

/* Style pour l'élément actif */
.top-banner li.active {
  background-color: #CC9F72;
}

/* Rendre le texte blanc pour l'élément actif */
.top-banner li.active a {
  color: white !important;
}





/*MENU NOUS CONNAITRE*/
.nous-connaitre {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/Phoques2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

/* Menu fixe */
.menu-fixe {
  position: absolute;
  z-index: 1000;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background-color: #EAC198;
  padding: 0px 20px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-fixe ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #564949;
}

.menu-fixe li {
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
}

.menu-fixe li:hover {
  background-color: #CC9F72;
  color: white;
}

.menu-fixe a {
  text-decoration: none;
  display: block;
  color: #564949;
}

.menu-fixe li.active-link {
  background-color: #CC9F72;
  color: white;
}

/* Conteneur horizontal */
.horizontal-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sectionNC {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Carte des partenaires engagés*/
.cadre_intro_carte {
  position: absolute;
  display: block;
  z-index: 2;
  right: 10%;
  top: 18%;
  background-color: white;
  padding: 10px 20px 20px 20px;
  border-radius: 25px;
  width: 700px;
  height: auto;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.arrow {
  margin-right: 10px;
  font-size: 1.5rem; 
}

#lien_charte {
  text-decoration: none;
  color: #CC9F72;
  font-weight: bold;
}

.cadre_intro_carte_mobile {
  display: none;
}


/*Fiche partenaire*/
.cadre__fiche_partenaire {
  position: absolute;
  display: block;
  z-index: 2;
  right: 20%;
  top: 10%;
  background-color: white;
  padding: 10px 20px 20px 20px;
  border-radius: 25px;
  width: 500px;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cadre__fiche_partenaire_mobile {
  display: none;
}

#bouton_retour {
  background-color: rgb(150, 150, 150);
  border: none;
  color: white;
  font-size: 0.9rem;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  cursor: pointer;
}

#bouton_retour:hover {
  background-color: rgba(150, 150, 150, 0.8);
}

.partenaires_contact {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
  width: 35%;
  margin: 20px auto;
  left: -7%;
}

.partenaires_contact_mobile {
  display: none;
}

.telephone-container, 
.eye-container {
  background-color: #16A8C1;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.telephone-container:hover, 
.eye-container:hover {
  box-shadow: none;
  background-color: #16a7c1cc;
}

.telephone-container i, 
.eye-container i {
  color: white;
}

.telephone, .enveloppe, .globe {
  background-color: #16A8C1;
  color: white;
  padding: 10px;
  border-radius: 50px;
}



/*Modal téléphone*/
.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.8);
  z-index: 5; 
}

.overlay_mobile {
  display: none;
}

/* Menu options centré au milieu de la page */
.options-menu {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  justify-items: center; 
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 25px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
}

.options-menu_mobile {
  display: none;
}

/* Style pour les icônes Appeler directement et Voir le numéro */
.options-menu i {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Bouton fermer en bas */
.close-btn {
  grid-column: span 2;
  background-color: #CC9F72;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  text-align: center;
  width: auto;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#bouton_fermer:hover {
  background-color: #cc9f72ee;
  box-shadow: none;
}

.options-menu ul {
  padding: 0;
  margin: 0;
}

.options-menu li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.options-menu li:hover {
  background: #f0f0f0;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-content {
  text-align: center;
}


/*Légende carte*/

.cadre_legende {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
  background-color: white;
  width: auto;
  padding: 10px 20px 10px 20px;
  position: absolute;
  z-index: 4;
  left: 0;
  bottom: 15%;
  background-color: white;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cadre_legende span {
  display: flex;
  align-items: center;
}

.cadre_legende span:nth-child(1),
.cadre_legende span:nth-child(2) {
  justify-self: start;
}

.cadre_legende span:nth-child(3) {
  justify-self: flex-start;
}

.sous_grille_cercles {
  display: grid;
  grid-template-columns: 15px auto;
  gap: 8px 10px;
  grid-column: span 2;
  margin-left: 25px;
}

.cercle_partenaire {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #EAC198;
  border: 1px solid #CC9F72;
  border-radius: 50%;
  opacity: 1;
  margin-right: 5px;
}

.cercle_croisieres,
.cercle_kayak,
.cercle_randonnee,
.cercle_voile {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
}

.cercle_croisieres { background-color: #9a7b67; }
.cercle_kayak     { background-color: #ed6a53; }
.cercle_randonnee { background-color: #0e823a; }
.cercle_voile     { background-color: #C2133E; }

.ligne_cercle {
  display: grid;
  grid-template-columns: 15px auto;
  gap: 8px 20px;
  grid-column: span 2;
  margin-left: 0px;
}

.carre_parc {
  display: inline-block;
  width: 25px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #16A8C1;
  opacity: 1;
  margin-right: 5px;
}

.cadre_partenaires {
  position: absolute;
  display: block;
  z-index: 2;
  right: 0.5%;
  top: 2%;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border: 1px solid #16A8C1;
  border-radius: 25px;
  width: 240px;
  height: auto;
  max-height: 81vh;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-color: #CC9F72 #f4f4f4;
  scrollbar-width: thin;
}

.titre_partenaires {
  font-size: 0.9rem;
  color: #CC9F72;
  font-weight: bold;
  opacity: 1;
  margin: 0px 10px 0px 0px;
  text-align: left;
}

.illustration_partenaire {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 0px;
}

.illustration_partenaire .illustration {
  display: flex;
  justify-content: flex-start;
}

.illustration {
  display: flex;
  gap: 0px;
}

.img-small {
  width: 100%;
  object-fit: contain;
}

.img-large {
  width: 200%;
  object-fit: contain;
}

.img-rando-petit {
  width: 20%;
  object-fit: contain;
}


.cadre_partenaires p {
  font-size: 0.8rem;
  color: white;
  padding: 20px 10px;
  background-color: #16A8C1;
  border: 1px solid white;
  border-radius: 25px;
  text-align: center;
  height: 10px;  
  cursor: pointer;
  
  /* Centrage du texte horizontalement et verticalement */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadre_partenaires p.highlighted {
  background-color: white;
  color: #16A8C1;
  border: 1px solid #16A8C1;
  border-radius: 25px;
}




/*Le PNM EPMO*/

.cadre_PNM {
  position: absolute;
  z-index: 5;
  width: 45%;
  height: auto;
  left: 50%;
  top: 45%;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.cadre_PNM::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  border-radius: 25px;
  z-index: -1;
}

.cadre_PNM_mobile {
  display: none;
}



/*Nous différencier*/

.nous_differencier {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
}

.grid-nous_differencier {
  display: grid;
  grid-template-columns: 20fr 40fr 40fr;
  grid-auto-rows: min-content;
  gap: 10px; 
  row-gap: 15px;
  max-height: 74vh;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-color: #CC9F72 #f4f4f4;
  scrollbar-width: thin;
}

/* Première ligne : une seule colonne */
.grid-nous_differencier > .item:nth-child(2) {
  grid-column: span 3; /* occupe les trois colonnes */
  text-align: left;
}

/* Première colonne */
.grid-nous_differencier > .item:nth-child(3),
.grid-nous_differencier > .item:nth-child(6),
.grid-nous_differencier > .item:nth-child(9),
.grid-nous_differencier > .item:nth-child(12),
.grid-nous_differencier > .item:nth-child(15),
.grid-nous_differencier > .item:nth-child(18),
.grid-nous_differencier > .item:nth-child(21) {
  grid-column: span 1; /* Chaque élément occupe une colonne */
  display: flex;
  color: #CC9F72;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

/* Les autres éléments de la grille */
.grid-nous_differencier > .item:nth-child(4),
.grid-nous_differencier > .item:nth-child(5),
.grid-nous_differencier > .item:nth-child(7),
.grid-nous_differencier > .item:nth-child(8),
.grid-nous_differencier > .item:nth-child(10),
.grid-nous_differencier > .item:nth-child(11),
.grid-nous_differencier > .item:nth-child(13),
.grid-nous_differencier > .item:nth-child(14),
.grid-nous_differencier > .item:nth-child(16),
.grid-nous_differencier > .item:nth-child(17),
.grid-nous_differencier > .item:nth-child(19),
.grid-nous_differencier > .item:nth-child(20),
.grid-nous_differencier > .item:nth-child(22),
.grid-nous_differencier > .item:nth-child(23) {
  grid-column: span 1; /* Chaque élément occupe une colonne */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Dernière ligne*/
.grid-nous_differencier > .item:nth-child(24) {
  grid-column: span 3; /* occupe les deux colonnes */
  text-align: center;
  margin-top: 25px;
}

.item {
  margin: 0;
  padding: 0;
}

.item p {
  margin: 10px 20px 10px 20px;
  padding: 0;
}

.item img {
  width: 60%;
}

#intro_nous_differencier {
  margin-bottom: 0px;
}



/*Nous respecter*/

.nous_respecter {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
}

.grid-nous_respecter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 10px; 
  row-gap: 5px;
  max-height: 74vh;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-color: #CC9F72 #f4f4f4;
  scrollbar-width: thin;
}

/* Première ligne : une seule colonne */
.grid-nous_respecter > .item:nth-child(2) {
  grid-column: span 2; /* occupe les deux colonnes */
  text-align: left;
}

.cadre_important {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cadre_important p {
  width: 90%;
  background-color: #CC9F72;
  color: white;
  border-radius: 25px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-nous_respecter > .item h6 {
  text-align: center;
  width: 100%;
}

.grid-nous_respecter > .item  {
  font-size: 0.9rem;
}

#centrer {
  display: block;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 1.4rem;
}


.grid-nous_respecter > .item:nth-child(3),
.grid-nous_respecter > .item:nth-child(4),
.grid-nous_respecter > .item:nth-child(5),
.grid-nous_respecter > .item:nth-child(6),
.grid-nous_respecter > .item:nth-child(7),
.grid-nous_respecter > .item:nth-child(8),
.grid-nous_respecter > .item:nth-child(9),
.grid-nous_respecter > .item:nth-child(10) {
  grid-column: span 1; /* Chaque élément occupe une colonne */
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 20px 0 20px;
  line-height: 1;
}

/* Dernière ligne */
.grid-nous_respecter > .item:nth-child(11),
.grid-nous_respecter > .item:nth-child(12) {
  grid-column: span 1; /* Chaque élément occupe une colonne */
  display: flex;
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu */
  text-align: center;
}

/* Spécifique à l'item 11 (cadre texte important) */
.grid-nous_respecter > .item:nth-child(11) {
  background-color: #CC9F72;
  color: white;
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  text-align: left; /* Pour garder l'alignement du texte */
  justify-content: flex-start; /* Alignement du texte à gauche */
}

/* Spécifique à l'item 12 (lien h5) */
.grid-nous_respecter > .item:nth-child(12) a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}


/*Nous observer*/

.nous_observer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
}

.grid-nous_observer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 10px; 
  row-gap: 15px;
  max-height: 74vh;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-color: #CC9F72 #f4f4f4;
  scrollbar-width: thin;
}

.cadre_important2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cadre_important2 p {
  width: 50%;
  background-color: #CC9F72;
  color: white;
  border-radius: 25px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Première ligne : une seule colonne */
.grid-nous_observer > .item:nth-child(2),
.grid-nous_observer > .item:nth-child(4) {
  grid-column: span 2; /* occupe les deux colonnes */
  text-align: left;
}

/*Smiley*/
.grid-nous_observer > .item:nth-child(5),
.grid-nous_observer > .item:nth-child(6) {
  grid-column: span 1; /* Chaque élément occupe une colonne */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
}

.fa-face-smile {
  color: #16A8C1;
}

.fa-face-angry {
  color: red;
}

/*Conseils*/
.grid-nous_observer > .item:nth-child(7),
.grid-nous_observer > .item:nth-child(8) {
  grid-column: span 1; /* Chaque élément occupe une colonne */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  margin-top: -25px;
}

.grid-nous_observer > .item:nth-child(9),
.grid-nous_observer > .item:nth-child(10) {
  grid-column: span 1; /* Chaque élément occupe une colonne */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  margin-top: -20px;
}

#picto_observer_repos {
  width: 25%;
}

#picto_observer_aguets {
  width: 20%;
}

#picto_observer_loin {
  width: 25%;
}

#picto_observer_proche {
  width: 20%;
}


/*Nous aider*/

.nous_aider {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 72%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
}

.grid-nous_aider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 10px; 
  row-gap: 15px;
  max-height: 74vh;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #CC9F72 #f4f4f4;
  scrollbar-width: thin;
}

/* Première ligne : une seule colonne */
.grid-nous_aider > .item:nth-child(2) {
  grid-column: span 2; /* occupe les deux colonnes */
  text-align: left;
}

/* Deuxième ligne : PELAGIS */
.grid-nous_aider2 {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-auto-rows: min-content;
  gap: 10px; 
  align-items: center;  
}

.grid-nous_aider2 > .item:nth-child(1){
  grid-column: span 1;
  text-align: left;
}

.grid-nous_aider2 > .item:nth-child(2){
  grid-column: span 1;
  text-align: left;
  padding: 10px 20px 10px 20px;
}

#cadre_pelagis {
  /*background-color: #16A8C1;*/
  margin: 10px 50px 10px 20px;
  color: #16A8C1;
  text-align: center;
  border: 5px solid #16A8C1;
  border-radius: 25px;
}

#cadre_pelagis i.fa-phone {
  font-size: 2rem;
  background-color: #16A8C1;
  color: white;
  padding: 15px;
  border-radius: 50px;
}

#logo_pelagis {
  /*background-color: #16A8C1;*/
  margin: 10px 50px 10px 20px;
  width: 75%;
}

#phoque_endormi {
  width: 10%;
  text-align: center;
}

.lien-container {
  position: relative;
  display: flex;
  justify-content: center;
  left: 40vh;
  margin-top: 15px;
}

.lien-container a {
  text-decoration: none;
  display: block;
  width: 120%;
}




/*MOBILE*/

@media (max-width: 750px) {

  /* Page d'accueil */
  .cadre_intro {
    height: auto;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
  }

  .cadre_intro::before {
    border-radius: 25px;
  }

  /* Carte des partenaires engagés */
  .cadre_intro_carte {
    display: none;
  }

  /* Masquer l'overlay par défaut */
  .overlay {
    display: none;
  }

  /* Affichage de l'overlay pour mobile */
  .overlay_mobile {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.8);
    z-index: 5;
  }

  /* Cadre d'introduction mobile */
  .cadre_intro_carte_mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: auto;
    width: 70%;
    border-radius: 25px;
    padding: 20px;
    z-index: 10; 
  }

  /* Bouton de fermeture du cadre d'introduction */
  .fermer-btn-intro {
    position: absolute;
    color: black;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .logo_partenaires_engages {
    display: none;
  }
  
  .logo_partenaires_engages_mobile {
    position: relative;
    display: block;
    z-index: 3;
    top: 0px;
    left: 50%;
    margin-bottom: -10px;
    width: 150%;
    transform: translateX(-50%) rotate(10deg); 
  }




  /*Fiche partenaire*/
  .cadre__fiche_partenaire {
    display: none;
  }

  .cadre__fiche_partenaire_mobile {
    position: absolute;
    display: block;
    z-index: 11;
    top: 50px;
    left: 60%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 20px 20px 20px;
    border-radius: 25px;
    width: 61%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .partenaires_contact {
    display: none;
  }

  .partenaires_contact_mobile {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 35%;
    left: 50%;
    transform: translateX(-50%);
  }

  .cadre_partenaires {
    display: none;
  }

  /* Menu options centré au milieu de la page */

  .options-menu {
    display: none;
  }
  .options-menu_mobile {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    justify-items: center; 
    justify-content: center;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 25px;
    z-index: 12;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    width: 85%;
  }

  /* Style pour les icônes Appeler directement et Voir le numéro */
  .options-menu_mobile div i {
    font-size: 0.9rem;
    cursor: pointer;
  }

  .telephone-container, 
  .eye-container {
    background-color: #16A8C1;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }
  
  .telephone-container:hover, 
  .eye-container:hover {
    box-shadow: none;
    background-color: #16a7c1cc;
  }
  
  .telephone-container i, 
  .eye-container i {
    color: white;
  }

  .leaflet-top {
    top: 72% !important;
    transform: translateY(-100%);
  }

  .leaflet-left {
    left: 95% !important;
    transform: translateX(-100%);
  }

  .modal {
    width: 55%;
  }


  /*PNM EPMO*/
  .cadre_PNM {
    display: none;
  }
  
  .cadre_PNM_mobile {
    position: absolute;
    display: block;
    z-index: 5;
    width: 75%;
    height: auto;
    left: 50%;
    top: 45%;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  
  .cadre_PNM_mobile::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    border-radius: 25px;
    z-index: -1;
  }

  #h1_mobile {
    font-size: 1.5rem;
  }

  #h4_mobile {
    width: 30%;
  }


  /*Nous connaître*/
  .nous-connaitre {
    background-attachment: scroll;
    background-size: auto 100%;
    background-position: 75%;
  }

  /*Menu fixe*/
  .menu-fixe {
    position: fixed; 
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
    border-radius: 0px;
  }

  .menu-fixe ul {
    display: flex; 
    width: 90%;
    justify-content: space-around;
    margin: 0 0 0 25px;
    padding: 0;
    height: 100%;
  }

  .menu-fixe li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 0.95rem;
  }

  .menu-fixe li:hover {
    background-color: #CC9F72;
    color: white;
  }

  .menu-fixe li.active-link {
    background-color: #CC9F72;
    color: white;
  }

  
  /*Nous différencier*/
  .nous_differencier {
    width: 90%;
  }

  .grid-nous_differencier {
    grid-template-columns: 10fr 45fr 45fr;
    max-height: 75vh;
    padding: 0px;
  }

  /* Première ligne : une seule colonne */
  .grid-nous_differencier > .item:nth-child(2) {
    max-width: 100%;
  }

  .grid-nous_differencier > .item h5,
  .grid-nous_differencier > .item h6 {
    font-size: 1.1rem;
  }

  .item img {
    width: 100%;
    justify-content: left !important;
  }

  .item a {
    text-decoration: none;
  }

  .item a h5 {
    width: 80%;
    text-decoration: none;
  }

  /* Les autres éléments de la grille */
  .grid-nous_differencier > .item:nth-child(4),
  .grid-nous_differencier > .item:nth-child(5),
  .grid-nous_differencier > .item:nth-child(7),
  .grid-nous_differencier > .item:nth-child(8),
  .grid-nous_differencier > .item:nth-child(10),
  .grid-nous_differencier > .item:nth-child(11),
  .grid-nous_differencier > .item:nth-child(13),
  .grid-nous_differencier > .item:nth-child(14),
  .grid-nous_differencier > .item:nth-child(16),
  .grid-nous_differencier > .item:nth-child(17),
  .grid-nous_differencier > .item:nth-child(19),
  .grid-nous_differencier > .item:nth-child(20),
  .grid-nous_differencier > .item:nth-child(22),
  .grid-nous_differencier > .item:nth-child(23) {
    grid-column: span 1; /* Chaque élément occupe une colonne */
    display: flex;
    align-items: center;
    justify-content: left;
    padding-right: 5px;
  }

  /*Dernière ligne*/
  .grid-nous_differencier > .item:nth-child(24) {
    grid-column: span 3;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }


  /*Nous respecter*/
  .nous_respecter {
    width: 90%;
  }

  .grid-nous_respecter {
    grid-template-columns: 1fr 1fr;
    max-height: 75vh;
    padding: 0px;
  }

  /* Première ligne : une seule colonne */
  .grid-nous_respecter > .item:nth-child(2) {
    max-width: 100%;
  }

  .grid-nous_respecter > .item:nth-child(3),
  .grid-nous_respecter > .item:nth-child(4),
  .grid-nous_respecter > .item:nth-child(5),
  .grid-nous_respecter > .item:nth-child(6),
  .grid-nous_respecter > .item:nth-child(7),
  .grid-nous_respecter > .item:nth-child(8),
  .grid-nous_respecter > .item:nth-child(9),
  .grid-nous_respecter > .item:nth-child(10) {
    grid-column: span 1;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 5px 0 5px;
    line-height: 1;
  }

  .grid-nous_respecter > .item:nth-child(11) {
    grid-column: span 2;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .grid-nous_respecter > .item:nth-child(12) {
    grid-column: span 2;
  }

  .item a h5 {
    width: 80%;
    text-decoration: none;
    margin-bottom: 25px;
  }


  /*Nous observer*/
  .nous_observer {
    width: 90%;
  }

  .grid-nous_observer {
    grid-template-columns: 1fr 1fr;
    max-height: 75vh;
    padding: 0px;
  }

  /* Première ligne : une seule colonne */
  .grid-nous_observer > .item:nth-child(2) {
    max-width: 100%;
  }

  .cadre_important2 p {
    width: 70%;
    text-align: center;
  }

  .grid-nous_observer > .item h6 {
    font-size: 1.2rem;
  }

  .grid-nous_observer > .item:nth-child(7),
  .grid-nous_observer > .item:nth-child(9) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0;
    width: 95%;
  }

  .grid-nous_observer > .item:nth-child(9) {
    padding-bottom: 50px;
  }

  .grid-nous_observer > .item:nth-child(8),
  .grid-nous_observer > .item:nth-child(10) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    width: 95%;
  }

  #picto_observer_repos {
    width: 75%;
  }

  #picto_observer_aguets {
    width: 75%;
    margin-top: 30px;
  }

  #picto_observer_loin {
    width: 75%;
    margin-bottom: 15px;
  }

  #picto_observer_proche {
    width: 75%;
    margin-top: 0px;
    margin-bottom: 15px;
  }


  /*Nous aider*/
  .nous_aider {
    width: 90%;
  }

  .grid-nous_aider {
    grid-template-columns: 1fr 1fr;
    max-height: 75vh;
    padding: 0px;
  }

  .grid-nous_aider2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .grid-nous_aider2 .item {
    width: 100%;
  }

  .lien-container {
    order: 3;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-47%);
  }

  .grid-nous_aider2 > .item:nth-child(1),
  .grid-nous_aider2 > .item:nth-child(2) {
    grid-column: span 2;
    width: 100%;
  }

  #cadre_pelagis {
    margin: 10px 0 0 0;
    width: 75%;
    font-size: 1.2rem;
  }

  #cadre_pelagis i.fa-phone {
    font-size: 2rem;
    background-color: #16A8C1;
    color: white;
    padding: 15px;
    border-radius: 50px;
  }

}